.shopping{
    .shop_top{display: flex;justify-content: space-between;width: 100%;height: 40px;line-height: 40px; font-size: 18px;}
    .shop_ul{display: flex;justify-content: space-around;height: 37px;line-height: 37px;
        background: #F4F4F4;
    img{width: 15px;}
}
.wenzi1{
    padding: .3rem;
    background-color: #fffbf5;
    font-size: .34667rem;
    color: #f7a358;
    line-height: 1.4;
    border-bottom: 1px solid #dad9d9;
}
}